.home-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
}

.home-container-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  width: 100%;
  background-color: var(--verde);
  padding: 2rem;
  border-radius: 8px;
  margin: auto;
  box-shadow: 8px 8px 6px rgba(36, 35, 35, 0.459), -6px -6px 6px rgba(201, 199, 199, 0.445) ;
}

.link {
  width: 100%;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  height: 100px;
}