:root {
  --rosso-primario: #f02d3a;
  --rosso-secondario: #dd0426;
  --verde: #2b9720;
  --nero: #1c1d21;
  --bianco: #eff6ee;
  --bianco-secondario: #fdfffc;
  --grigio: #95969d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
  background-color: var(--rosso-primario);
  color: var(--bianco);
  max-width: 1300px;
  margin: auto;
}

h1 {
  font-size: 4.5rem;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  height: 400px;
  width: 100%;
  background-color: var(--bianco);
  color: var(--rosso-secondario);
  border: 4px solid var(--rosso-secondario);
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
}

.bagliore {
  height: 600px;
  width: 600px;
  background-color: var(--bianco);
  border-radius: 50%;
  filter: blur(300px);
  position: fixed;
  top: 40px;
  left: 150px;
  z-index: -1;
}

.basso {
  height: 300px;
  width: 300px;
  bottom: 50px;
  right: 100px;
  filter: blur(150px);
  top: auto;
  left: auto;
}

.pad {
  padding: 1rem;
}

@media (max-width: 720px) {
  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 1rem;
  }

  button {
    height: 100px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  button {
    width: 250px;
  }
}
